.body{
    background: rgb(158, 60, 60);
}

body{
    background-color: wheat;
}

.foto{
    background: chartreuse;
}

.Pigeon{
    background: gray;
}

.Teddy-Bear{
    background: orange;
}

.flying-cicada{
    background: red;
}